import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
  standalone: true,
  imports: [],
  selector: "lib-{{.Name}}",
  templateUrl: "./{{.Name}}.component.html",
  styleUrls: ["./{{.Name}}.component.scss"],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class {{.Name}}Component {
}
