import { CommonModule } from '@angular/common';
import {
  ChangeDetectionStrategy,
  Component,
  HostListener,
  inject,
  OnInit,
} from '@angular/core';
import { Observable, of } from 'rxjs';
import {
  SunCanDeactivateComponent,
} from 'sunbird-seven-ui';

import { {{.Name}}Facade } from './+state/{{.Filename}}.facade'

@Component({
  standalone: true,
  imports: [CommonModule],
  selector: "lib-{{.Filename}}",
  templateUrl: "./{{.Filename}}.component.html",
  styleUrls: ["./{{.Filename}}.component.scss"],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class {{.Name}}Component
  implements OnInit, SunCanDeactivateComponent
{
  facade = inject({{.Name}}Facade);

  ngOnInit(): void {

  }

  @HostListener('window:beforeunload', ['$event'])
  canDeactivate(): Observable<boolean> | boolean {
    // TODO: Swap out the default "true" return value with actual canDeactivate
    // logic or if not needed remove the function block and corresponding imports
    return of(true)
  }
}
