import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
  standalone: true,
  imports: [],
  selector: "lib-{{.Filename}}",
  templateUrl: "./{{.Filename}}.component.html",
  styleUrls: ["./{{.Filename}}.component.scss"],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class {{.Name}}Component {
}
